.calculator {
  display: block;

  table {
    margin: 80px auto;
  }

  thead {
    font-weight: 600;
    color: #261CD1;
  }

  td {
    border: 0;
    padding: 15px 20px;
    width: calc(100% / 6);
  }

  tbody tr {
    &:nth-child(odd) td {
      background: #FAFAFC;
    }
  }

  input {
    border: 0;
    font: inherit;
    font-weight: 600;
    background: none;
    outline: 0;
    cursor: text;
    color: #261CD1;
  }
}